@layer base {
  :root {
    color: var(--color-text);
    background-color: var(--color-surface);
    color-scheme: dark;
  }

  body {
    min-height: 100dvh;
  }

  #app {
    height: 100dvh;
  }
}
