@layer components {
  .tests {
    height: 100%;
    padding: 24px;
    overflow-y: auto;
  }

  .tests__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
  }
}
